<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>

		<fieldset style="margin: 0 auto; text-align: center;">
			<legend><span>Login Screen</span></legend><hr/>
			<form name="f" method="post" action="/login">
				<p>Username<br>
					<input type="text" name="username" id="username" size="30"></p>
		
				<p>Password<br>
				<input type="password" name="password" id="password" size="30"></p>
		
				<button>Submit</button>
			</form>
		</fieldset>

</body>
</html>